{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
	<div class="page">
        <div class="innerDiv">
            <div class="sumbitSuccess">
            	<img src="{{ asset('bundles/app/default/') }}images/shareEndImg1.png" class="abs submitedImg">
                <div class="btnLine2">
                    <a href="{{ url('_index') }}"><img src="{{ asset('bundles/app/default/') }}images/shareEndBtn1.png"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        body{ background:url({{ asset('bundles/app/default/') }}images/bg2.jpg) center top no-repeat;}
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script>
$(document).ready(function(){
	$('.page').css('margin-top',(-(1039-wHeight)/6-40)+'px');
    });
</script>
{% endblock %}